$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



// Colors y fuente

$grey: #DEDAD5;
$black: #424241;
$grey-light: #FAF8F5;


$primary-font: 'Poppins', sans-serif;
$title-font: "Playfair Display", serif;








