// _footer.scss
@use '../abstracts' as *;

.services {
  display: flex;
  gap: 30px;
  width: 290px;
  position: absolute;
  flex-direction: column;
  background-color: white;
  right: 96px;
  bottom: 50px;
  z-index: 10;
  font-size: 16px;
  padding: 20px;

  ul {
      @include reset_list();
      display: flex;
      flex-direction: column;
      gap: 36px;

      li {
        position: relative;
        border-bottom: 1px solid rgba($black, 0.2);
        padding-bottom: 10px ;

        
        a {
          text-decoration: none;
          color: $black;
          font-weight: 400;
          font-size: 14px;
          display: flex;
          gap: 5px;
          
          &:hover {
            color: rgba($black, 0.3);
          }

            span {
                color: rgba($black, 0.3);
                padding-right: 10px;
            }

             &::after {
                content: "";
                width: 16px;
                height: 16px;
                background-image: url("../img/arrow_2.svg");
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                right: 10px;
            }
          
        }
      }

      li:last-child {
        border-bottom: none;
    }
    }

}